body {
    margin:0;
    padding:0;
}

h1 {
    margin:0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
    font-size:4em;
}

p {
  font-family: 'Abel';
  font-size:1.5em; 
}

td, th {
  font-family: 'Abel';
  font-size:1.1em; 
  background-color: #E7E7E7;
  padding:8px;
  border: solid 2px #CCCCCC;
}

table {
  width:100%;
  box-sizing: border-box;
  
}

TH {
  background-color: rgb(245, 185, 55);
  border: solid 2px #e9912d;

}

header {
    background-color: #3d3d3d;
    width:100%;
    top:0;
    left:0;
    right:0;
    height:80px;
    color:rgb(245, 185, 55);
    padding:15px 0 15px 0;
    border-bottom: red solid 4px;
    margin-bottom:30px;

    display:flex;
    align-items: center;
    justify-content: center;
}

header div {
    width:440px;
}

.content {
    width:880px;
    margin: 0 auto;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    background:#FFFFFF;
    color:#3d3d3d;
    border: 1px solid rgb(245, 185, 55);
    border-radius: 25px;
    box-sizing:border-box;
    margin:0 10px 0 0;
    transition: 1s ease;
  }

  input[type="text"]:hover, input[type="number"]:hover {
    background-color: rgb(255, 243, 218);
    border: 1px solid red;    
  }

  input[type="submit"] {
    padding: 10px;
    background: red;
    color:#FFF;
    border: 1px solid rgb(245, 185, 55);
    border-radius: 25px;
    box-sizing:border-box;
    margin-bottom:20px;
    margin-top:5px;
    transition: 1s ease;
  }

  input[type="submit"]:hover {
    background-color: rgb(245, 185, 55);
    border: 1px solid rgb(245, 185, 55);    
    color: #000;
  }